<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://wallpapercat.com/w/middle-retina/1/1/d/319886-3840x2160-desktop-4k-iron-man-wallpaper.jpg"
      alt=""
      height="200px"
   >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in efficitur dolor. Fusce interdum rhoncus libero semper consectetur. Nam sit amet mollis urna. Praesent ut lectus elit. Donec scelerisque lobortis mi ac euismod. Nullam quis nunc consectetur orci venenatis tincidunt et non est. Maecenas vel nunc in ipsum varius gravida. Donec nisl libero, placerat a mollis eu, mattis vitae elit. Nunc blandit pellentesque mi, id eleifend ipsum eleifend eu. Nam quis tincidunt nibh, eget fringilla ex. Duis malesuada vestibulum orci, sit amet tristique nisl accumsan id. Sed vel tellus consectetur, porta neque ut, condimentum mi. Integer ut porta sapien. Vivamus quis massa arcu. Aliquam tempor leo metus, et tempor est convallis eget
    </a>
    </p>
  </div>
</div>
